
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.user*
*.o
*.obj
moc_*
.DS_Store
.autosave
.qmake_stash
qrc_*
rcc/*
node_build
build
