[submodule "libdap-qt-ui-qml"]
	path = libdap-qt-ui-qml
	url = https://github.com/kelvinblockchain/libdap-qt-ui-qml.git
	branch = master
[submodule "kelvin-node"]
	path = kelvin-node
	url = https://github.com/kelvinblockchain/kelvin-node.git
