[submodule "libdap-qt-ui-qml"]
	path = libdap-qt-ui-qml
	url = https://github.com/kelvinblockchain/libdap-qt-ui-qml.git
	branch = master
[submodule "libdap-qt"]
	path = libdap-qt
	url = https://github.com/kelvinblockchain/libdap-qt.git
