Source: cellframe-dashboard
Section: unknown
Priority: optional
Maintainer: Demlabs Support <support@demlabs.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 2.0-4
Homepage: https://demlabs.net

Package: cellframe-dashboard
Architecture: any
Depends: psmisc, menu, ${shlibs:Depends}, ${misc:Depends}
Description: CellFrame Dashboard
 CelLFrame Dashboard



