Source: kelvindashboard
Section: unknown
Priority: optional
Maintainer: support <support@ncodedcommunications.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 5.8-4
Homepage: https://ncodedcommunications.com

Package: kelvindashboard
Architecture: any
Depends: psmisc, menu, ${shlibs:Depends}, ${misc:Depends}
Replaces: KelvinDashboard
Description: KelvinDashboard
 KelvinDashboard



